@model ASM_NET104_WedQuanAn.Models.Cart

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cart</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdtkh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdtkh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiKh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenkh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenkh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailKh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailKh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
