@model ASM_NET104_WedQuanAn.Models.ThucDon

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_content.cshtml";
}

<style>
    body{
    background:#f5f5f5;
    margin-top:20px;}

/* ===== Career ===== */
.career-form {
  background-color: #4e63d7;
  border-radius: 5px;
  padding: 0 16px;
}

.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: '\F2F9';
  font-family: "Material-Design-Iconic-Font";
}

.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
}

ul {
  list-style: none;
}

.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}

.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 28px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 0;
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
.mb-30 {
    margin-bottom: 30px;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />

<div class="sidebar-container">
    <div class="sidebar-logo">
        ADMIN TDPIZZA
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Quản lý</li>
        <li>
            <a href="#" id="btQLTD">
                <i class="fa fa-home" aria-hidden="true"></i> Quản lý thực đơn
            </a>
        </li>
        <li>
            <a href="#" id="btQLN">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Quản lý nhóm
            </a>
        </li>

        <li>
            <a href="#" id="btLC">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Lịch sử đơn hàng
            </a>
        </li>
        <li class="header">Khác</li>
        <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Cài đặt trang web
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cog" aria-hidden="true"></i> Thống kê
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Liên hệ nhà phát triển
            </a>
        </li>
    </ul>
</div>

<div class="content-container">

    <div class="container-fluid">
        <div class="content" id="ctThucDon">
            <h1>Thực Đơn</h1>

            <p>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">
                    Create
                </button>
                <hr />
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Tên món
                        </th>

                        <th>
                            Hình Ảnh
                        </th>
                        <th>
                            Giá Bán
                        </th>
                        <th>
                            Nhóm
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var result = from p in (ViewData["All"] as IEnumerable<ThucDon>)
                                     group p by p.Nhom into g
                                     select new GroupTD { MaNhom = "a" + g.Key.ToString(), ThucDons = g.ToList() };
                    }
                    @foreach (var group in result)
                    {
                        foreach (var item in group.ThucDons)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TenTd)
                                </td>

                                <td>
                                    <img src="~/img/@item.Hinh" width="200" height="200" />
                                </td>
                                <td>
                                    @item.Price?.ToString("n0").Replace(',', '.') VND
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NhomNavigation.TenNhom)
                                </td>
                                <td>
                                    <a class="btn btn-secondary btn-lg active" onclick=" return _getByTDId(@item.MaTd )">Edit</a>
                                    |
                                    <a class="btn btn-secondary btn-lg active" onclick=" return _deleteTD(@item.MaTd )">Delete</a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
            <hr />

        </div>
        <div class="content" id="ctNhom">
            <h1>Nhóm</h1>
            <p>
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    Create
                </button>
            </p>
            <div id="list">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Mã nhóm
                            </th>
                            <th>
                                Tên Nhóm
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="tbody"></tbody>
                </table>
            </div>
        </div>

        <div class="content" id="ctListCart">
            @foreach (var item in ViewData["ListCart"] as IEnumerable<Cart>)
            {
                <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                    <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                        <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                            @item.Id
                        </div>
                        <div class="job-content">
                            <h5 class="text-center text-md-left">@item.Tenkh</h5>
                            <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                <li class="mr-md-4">
                                    <i class="zmdi zmdi-phone"></i> @item.Sdtkh
                                </li>
                                <li class="mr-md-4">
                                    <i class="zmdi zmdi-email"></i> @item.EmailKh
                                </li>
                                <li class="mr-md-4">
                                    <i class="zmdi zmdi-calendar"></i> @item.NgayHD.ToString("dd/MM/yyy");
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-right my-4 flex-shrink-0">
                        <button class="btn d-block w-100 d-sm-inline-block btn-light" onclick="cartDetail(@item.Id)"  data-toggle="modal" data-target="#modalCart">Detail</button>
                    </div>
                </div>
            }


        </div>


    </div>
</div>




<!-- Modal Nhóm -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nhóm</h4>
            </div>
            <div class="modal-body">
                <form id="formStudent">
                    <div class="form-group">
                        <label for="MaNhom">Mã Nhóm</label>
                        <input type="text" class="form-control" id="idNhom" placeholder="ID" value="ID" readonly>
                    </div>
                    <div class="form-group">
                        <label for="Name">Tên Nhóm</label>
                        <input type="text" class="form-control" id="NameNhom" placeholder="Name" required>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="return _add();" id="btnAdd">Add</button>
                <button type="button" class="btn btn-primary" onclick="return _edit();" id="btnUpdate" style="display:none">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nhóm</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Create" enctype="multipart/form-data" id="formTD" runat="server">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label for="Tentd" class="control-label">Tên Món</label>
                        <input asp-for="TenTd" class="form-control" />
                        <span asp-validation-for="TenTd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="MoTa" class="control-label">Mô tả</label>
                        <input asp-for="MoTa" class="form-control" />
                        <span asp-validation-for="MoTa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="ImageFile" class="control-label">Hình Ảnh</label>
                        <br />
                        <img src="~/images/unchose.jpg" id="imgTD" width="200" height="200" />
                        <input asp-for="ImageFile" accept="image/*" id="imgfile" />

                    </div>
                    <div class="form-group">
                        <label for="Nhom" class="control-label">Nhóm</label>
                        <select asp-for="Nhom" class="form-control" asp-items="ViewBag.DATA"></select>
                    </div>
                    <div class="form-group">
                        <label for="Price" class="control-label">Giá</label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="formTD" class="btn btn-primary" id="btnAddTD">Add</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nhóm</h4>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="formEdit" runat="server">
                    <div class="form-group">
                        <label for="MaTd" class="control-label">Mã Thực đơn</label>
                        <input asp-for="MaTd" class="form-control" id="MaTD" readonly />

                    </div>

                    <div class="form-group">
                        <label for="TenTd" class="control-label">Tên Món</label>
                        <input asp-for="TenTd" class="form-control" id="TenTD" />
                        <span asp-validation-for="TenTd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="MoTa" class="control-label">Mô tả</label>
                        <input asp-for="MoTa" class="form-control" id="MoTaTD" />
                        <span asp-validation-for="MoTa" class="text-danger"></span>
                    </div>
                    <div class="form-group">


                        <input asp-for="Hinh" id="HinhTD" hidden />

                    </div>
                    <div class="form-group">
                        <label for="ImageFile" class="control-label">Hình</label>
                        <br />
                        <img src="~/images/unchose.jpg" id="imgTDu" width="200" height="200" />
                        <input asp-for="ImageFile" accept="image/*" id="imgfileu" />

                    </div>
                    <div class="form-group">
                        <label for="Nhom" class="control-label">Nhóm</label>
                        <select asp-for="Nhom" class="form-control" asp-items="ViewBag.DATA" id="NhomTD"></select>
                    </div>
                    <div class="form-group">
                        <label for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" id="GiaTD" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <button type="submit" form="formEdit" class="btn btn-primary" id="btnUpdateTD">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:780px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">CartDetail</h4>
            </div>
            <div class="modal-body" id="CartDetail">
                
            </div>
            <div class="modal-footer">

               
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function cartDetail(id) {

    $.ajax({
        url: '/admin/cartdetail/'+id,
        type: "Get",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        async: true,
        statusCode: {
            200: function () {
                
                var link = "/admin/cartdetail/" + id;
                

                $('#CartDetail').load(link);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        }





    });
        }

      
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
