@model IEnumerable<GroupTD>

<div class="maincontent">
    <div class="container">
        <section id="menu">
            <div class="block menu1">
                <div class="buttons-container">
                    @{
                        <a href="#" class="button button--is-active" data-target="all" data-toggle="collapse">Tất cả</a>
                        var result = from p in (ViewData["All"] as IEnumerable<ThucDon>)
                                     group p by p.Nhom into g
                                     select new GroupTD { MaNhom = "a" + g.Key.ToString(), ThucDons = g.ToList() };
                        foreach (var group in ViewData["Nhom"] as IEnumerable<Nhom>)
                        {
                            string maNhom = "a" + group.MaNhom.ToString();


                            <a href="#" id="@group.MaNhom" class="button" data-target="@maNhom" data-toggle="collapse" onclick="displaydom(this.id)">@group.TenNhom</a>
                        }
                    }

                </div>

                @{
                    <div class="menu menu--is-visible" id="all">
                        @foreach (var group in result)
                        {
                            foreach (var td in group.ThucDons)
                            {
                                <div class="item row align-items-center">
                                    <div class="col-sm-3 pr-5">
                                        <img class="product-img" src="~/img/@td.Hinh" id="id+@td.Hinh">
                                    </div>
                                    <div class="details col-sm-9">
                                        <div class="item__header">
                                            <h3 class="item__title">@td.TenTd</h3>
                                            <span class="item__dots"></span>
                                            <span class="item__price">@td.Price?.ToString("n0").Replace(',', '.') VND</span>
                                        </div>
                                        <p class="item__description">
                                            @td.MoTa
                                        </p>
                                        <button class="btn btn-sm btn-outline-primary my-cart-btn"
                                                onclick="addcart(@td.MaTd)">
                                            Add to cart
                                        </button>
                                        @*<a asp-route="addcart"
                                            asp-route-productid="@td.MaTd"
                                            class="btn btn-secondary btn-sm float-right">Đặt hàng</a>*@
                                    </div>
                                </div>
                            }
                        }


                    </div>



                    foreach (var group in result)
                    {
                        <div class="menu" id="@group.MaNhom">

                            @foreach (ThucDon td in group.ThucDons)
                            {
                                <div class="item row align-items-center">
                                    <div class="col-sm-3 pr-5">
                                        <img class="product-img" src="~/img/@td.Hinh" id="id+@td.Hinh">
                                    </div>
                                    <div class="details col-sm-9">
                                        <div class="item__header">
                                            <h3 class="item__title">@td.TenTd</h3>
                                            <span class="item__dots"></span>
                                            <span class="item__price">@td.Price?.ToString("n0").Replace(',', '.') VND</span>
                                        </div>
                                        <p class="item__description">
                                            @td.MoTa
                                        </p>
                                        <button class="btn btn-sm btn-outline-primary my-cart-btn"
                                                onclick="addcart(@td.MaTd)">
                                            Add to cart
                                        </button>
                                        @*<a asp-route="addcart"
                                            asp-route-productid="@td.MaTd"
                                            class="btn btn-secondary btn-sm float-right">Đặt hàng</a>*@
                                    </div>
                                </div>
                            }



                        </div>


                    }
                }




                <!-- End block -->

            </div>

        </section>
    </div>
</div>
<a class="nav-item my-cart-icon" data-toggle="modal" data-target="#myModal">

    <img src="~/img/cart.svg" style="width:20px;">
    <span class="badge badge-notify my-cart-badge"></span>
</a>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:600px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">GIỎ HÀNG</h4>
            </div>
            <div class="modal-body">
               
                            <p class="alert alert-danger">Giỏ hàng trống</p>
                        

                

            </div>
            <div class="modal-footer">
              
                    <a class="btn btn-success">Checkout</a>
                

            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(
        function () {
            _getCount();
            $('#myModal').load('@Url.Action("Cart", "Cart")');


        });





    function _getCount() {
        $.ajax({
            type: 'GET',
            url: '/countcart',
            success: function (result) {
                $('.my-cart-badge').html(result)
            }
        });
    }
    function addcart(id) {

            $.ajax({
                url: '/addcart/' + id,
                type: "Get",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                statusCode: {
                    200: function () {
                        _getCount();
                        $('#myModal').load('@Url.Action("Cart", "Cart")');
                    }
                }




            });
    }

    function remove(id) {
        
            $.ajax({
                url: '/removecart/' + id,
                type: "Get",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                statusCode: {
                    200: function () {
                        _getCount();
                        $('#myModal').load('@Url.Action("Cart", "Cart")');
                    }
                }




            });
    }



</script>